<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
  </div>
</div>

<div class="row">
  <div class="container-fluid article-container">
    {{#each article}} {{#if saved}}
    <div class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href={{url}}>{{headline}}</a>
          <button data-id="{{_id}}" class="btn btn-info note-btn">Article Notes</button>
          <a class="btn btn-danger delete-btn" data-id={{_id}}>Delete Article</a>
        </h3>

        Launch demo modal
        </button>
      </div>
      <div class="card-body">{{summary}}</div>
    </div>
  </div>
</div>

{{/if}}{{/each}}


<!-- Modal -->




{{#each article}}
<div class="modal fade bd-example-modal-lg" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <li class="list-group-item">No notes for this article yet.</li>
          <textarea placeholder="New Note" id="note-input"  rows="4" cols="51.5"></textarea>
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button"  class="btn btn-primary save-note" data-id={{_id}} >Save changes</button>
        </div>
        </div>
        </div>
    </div>
     {{/each}}
  






<!-- Button trigger modal -->


